body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}
a {
    text-decoration: none;
    }
    
    ul {
    list-style: none;
    }

.logo{
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
}
.span{
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.contact-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.contact-link:hover,
.contact-link:focus{
    color: #404bbf;

}
.contact-address-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-address-link:hover,
.contact-address-link:focus{
    color: #404bbf;
}
.nav-block{
    text-align: left;
    background-color: #E7E9FC;
}
.address{
    font-style: normal;
}
.contact-address{
    text-align: right;
    font-style: normal;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
  
}
.team-item_first{
    background-color: #FFFFFF;
}
.first-block{
    background-color: #2E2F42;
    text-align: center;
    line-height: 1.07;
}
.main-text{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #fff;

}
.buttom-main-link{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 500;
background-color: #4d5ae5;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;

}
.buttom-main-link:hover,
.buttom-main-link:focus{
    background-color: #404bbf;
    color: #404bbf;
}
.contentblock{
    text-align: center;
    background-color: #FFFFFF;

}
.content-item{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    color: #2E2F42;
    background-color: #FFFFFF;
}
.content-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.our-team-block{
  background-color: #F4F4FD;
    text-align: center;
}
.content-item-ourteam{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.our-team-posiotion{
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
}
.img-thirdblock{
    background-color: #FFFFFF;
}
.our-team{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
}
.our-portfolio-section{
    text-align: center;
}
.footer-section{
    
    background-color: #2E2F42;
    
}
.footer-text{
    color: #F4F4FD;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.span-footer{
    color: #F4F4FD;
   
}